.corner-tabs {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  gap: 10px;
  z-index: 5;
}

.tab {
  width: 55px;
  height: 55px;
  background-color: rgb(231, 93, 25);
  border-radius: 8px 8px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(249,115,22,0.4);
  transition: transform 0.15s, box-shadow 0.15s, background-color 0.15s;
  border: 1px solid #f97316;
  border-bottom: none;
}

.tab:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 18px rgba(249,115,22,0.8);
  background-color: rgb(228, 100, 37);
}

.tab-icon {
  font-size: 24px;
  color: #111;
}