.shop {
    position: absolute;
    top: 5px; left: 5px;

    background: rgba(15, 23, 42, 0.95);
    border-radius: 10px;
    border: 1px solid rgba(148, 163, 184, 0.4);
}
.shopImg {
    margin: 0 15px;
}
.shopItem, .shopHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 15px;
    gap: 25px;
    line-height: 200%;
}
.shopItem:hover {
    filter: brightness(150%);
    cursor: pointer;
}
.shopHeader {
    padding: 0;
    justify-content: right;
    padding-right: 14px;
    line-height: 25px;
}